## Übungen zur Lektion 2: Aggregatfunktionen mit der cia-Datenbank

In [2]:
import pandas as pd
import sqlite3
con = sqlite3.connect('../../data/cia.db')
df = pd.read_sql("SELECT * FROM cia", con)
len(df)

235

## Aufgaben

Aufgabe 1
Wie viele Länder enthält die cia-Datenbank?

In [4]:
df[["Name"]].nunique()

Name    234
dtype: int64

In [5]:
df.count()

LID          235
Name         235
Region       235
Flaeche      235
Einwohner    234
BIP          225
dtype: int64

In [7]:
df.nunique()

LID          235
Name         234
Region        13
Flaeche      232
Einwohner    234
BIP          205
dtype: int64

Aufgabe 2
Ermittle die Weltbevölkerung.

In [11]:
df["Einwohner in Mrd"] = (df["Einwohner"]/1E09).round(2)
df[["Einwohner in Mrd"]].sum()

Einwohner in Mrd    6.03
dtype: float64

Aufgabe 3
Gib das Durchschnitts-Bruttoinlandsprodukt an.

In [19]:
df.BIP.mean() ## enspricht avg

177986757333.35556

Aufgabe 4
Wie groß sind Bevölkerung und Bruttoinlandsprodukt für ganz Europa?

In [15]:
x = df.loc[df["Region"]=="Europa","Einwohner"].sum()
y = df.loc[df["Region"]=="Europa","BIP"].sum()
x,y

(584426608.0, 9516350000005.0)

Aufgabe 5
Ermittle die Flächen des kleinsten und größten Landes.

In [18]:
df[["Name","Flaeche"]]  [(df.Flaeche==df.Flaeche.min())| (df.Flaeche==df.Flaeche.max())]

              Name   Flaeche
93   Vatikan Stadt         0
175       Russland  17075200

Aufgabe 6
Wie viele Regionen gibt es?

In [3]:
df["Region"]=="Europa"

0      False
1       True
2      False
3      False
4       True
       ...
230    False
231    False
232    False
233    False
234    False
Name: Region, Length: 235, dtype: bool

In [3]:
df

,LID,Name,Region,Flaeche,Einwohner,BIP
0,1,Afghanistan,Asien,652000,25838797.0,2.100000e+10
1,2,Albanien,Europa,28748,3490435.0,5.600000e+09
2,3,Algerien,Afrika,2381740,31193917.0,1.476000e+11
3,4,Amerikanische Samoa-Inseln,Ozeanien,199,65446.0,1.500000e+08
4,5,Andorra,Europa,468,66824.0,1.200000e+09
...,...,...,...,...,...,...
230,231,West Bank,Mittlerer Osten,5860,2020298.0,3.300000e+09
231,232,Westliche Sahara,Afrika,266000,244943.0,NaN
232,233,Jemen,Mittlerer Osten,527970,17479206.0,1.270000e+10
233,234,Zambia,Afrika,752614,9582418.0,8.500000e+09
234,235,Zimbabwe,Afrika,390580,11342521.0,2.650000e+10